body, html {
    height: 100%;
}

.hero-section {
    height: 85vh; /* Ocupa toda la altura de la ventana */
    background-color: rgb(255, 255, 255); /* Fondo blanco */
}

.hero-section .display-4 {
    color: #333;
    font-weight: bold;
}

.hero-section .lead {
    color: #666;
}

.hero-section img.hero-image {
    max-width: 100%;
    height: auto;
    border: 5px solid #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
